<div id="main-tabs">
<div class="mdl-layout__tab-bar mdl-js-ripple-effect">
  <a href="#" class="mdl-layout__tab">Tab 1</a>
  {{!-- {{#each model as |app|}} --}}
    {{!-- {{#links-to 'manage' app class="mdl-layout__tab"}} --}}
      {{!-- {{app.name}} --}}
    {{!-- {{/links-to}} --}}
  {{!-- {{/each}} --}}
</div>
</div>
