<nav>
  <div class="nav-wrapper">
    <ul class="left">
      <li>
        <a href="#">
          <span class="brand-logo">NGC Dev Center</span>
        </a>
      </li>
    </ul>

    <ul class="right hide-on-med-and-down text-blue text-darken-2">
      <li>
        {{#dc-dropdown title="Applications" options=dropdownOptions}}
          <li>
            {{#link-to 'create-app'}}
              New...
            {{/link-to}}
          </li>
          {{#each model as |app|}}
            <li>
              {{#link-to 'manage' app}}
                {{app.name}}
              {{/link-to}}
            </li>
          {{/each}}
        {{/dc-dropdown}}
      </li>
    </ul>

  </div>
</nav>

{{outlet}}
