<nav>
  <div class="nav-wrapper">
    <ul class="left">
      <li>
        <a href="#" class="brand-logo">Logo</a>
      </li>
    </ul>

    <ul class="right hide-on-med-and-down">
      <li>
        {{#dc-dropdown title="Apps"}}
          {{#each model as |app|}}
            <li>
              {{#link-to 'manage' app}}
                {{app.name}}
              {{/link-to}}
            </li>
          {{/each}}
          <li>
            {{#link-to 'create-app'}}
              Create App
            {{/link-to}}
          </li>
        {{/dc-dropdown}}
      </li>
    </ul>

  </div>
</nav>

{{#dc-dropdown title="Apps" buttonClass="btn"}}
  {{#each model as |app|}}
    <li>
      {{#link-to 'manage' app}}
        {{app.name}}
      {{/link-to}}
    </li>
  {{/each}}
  <li>
    {{#link-to 'create-app'}}
      Create App
    {{/link-to}}
  </li>
{{/dc-dropdown}}

{{outlet}}
