<nav>
  <div class="nav-wrapper">
    {{#link-to 'index' class="brand-logo"}}NGC Dev Center{{/link-to}}

    <ul id="nav-mobile" class="right hide-on-med-and-down">
      {{#each model as |app|}}
        <li>{{#link-to 'manage' app }}{{app.name}}{{/link-to}}</li>
      {{/each}}
    </ul>
  </div>
</nav>

{{outlet}}

{{!-- ember-cli-materialize modal container --}}
{{md-modal-container}}